body{
    margin: 30px;
    color:black;
    font-size: 30px;
}
@media screen and (max-width:1000px){
    body{
        color: green;
    }
}
#batdau{
    width: 100px;
    background-color:green;
    cursor: pointer;
    border-radius: 5px;
}